{% extends 'base.html' %}
{% block title %} All Clients{% endblock title %}

{% block content %} 
    {% if user.is_authenticated %}
    <div class="container mt-2">
            <form method="get" onchange="this.form.submit()" class="mt-2">
                <input type="text" class="form-control" placeholder="Search by Name, tax number, VAT number, PAYE number, UIF Reg number or internal ID number" name="searchterm">
            </form>   
      
    <h6 class="h6 mt-2">{{count}} clients found in the system</h6>

    <table class="table table-striped table-hover table-bordered">
        {% include "client/_table_headers.html" with headers=headers %}
        <tbody>
            {% for client in clients %}
                <tr>
                    <td><a href="{% url 'client-detail' client.id %}" class="text-decoration-none">{{client.name}}</a></td>
                    <td>{{client.internal_id_number}}</td>
                    <td>{{client.entity_reg_number}}</td>
                    <td>{{client.client_type.name}}</td>
                    <td>{{client.month_end}}</td>
                    <td>{{client.accountant.first_name}} {{client.accountant.last_name}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    
    {% endif %}
{% endblock content %}