{% extends 'base.html' %}

{% block title %}Filter Client for specific monthend{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h6 class="h6 mt-4 mb-4">Filter Client for yearend</h6>

    {% if form %}
        <form method="GET">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-primary">Filter Clients</button>
        </form>
    {% else %}
    <h6 class="h6">Clients with {{month}} Yearend - {{count}} of {{total}}</h6>
    <table class="table table-striped table-hover table-bordered">
        {% include "client/_table_headers.html" with headers=headers %}
        <tbody>
            {% for client in clients %}
                <tr>
                    <td><a href="{% url 'client-detail' client.id %}" class="text-decoration-none">{{client.name}}</a></td>
                    <td>{{client.client_type.name}}</td>
                    <td>{{client.month_end}}</td>
                    <td>{{client.vat_reg_number}}</td>
                    <td>{{client.accountant.first_name}} {{client.accountant.last_name}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endif %}
{% endblock %}