{% extends 'base.html' %}
{% load static %}
{% block title %}Client Financial Years{% endblock %}

{% block content %}
<h6 class="mt-4">Manage Client Financial Statements Flow</h6>
<meta name="csrf-token" content="{{ csrf_token }}">

<div id="ajax-urls"
     data-update-status-url="{% url 'ajax_update_afs_status' %}"
     data-update-comment-url="{% url 'ajax_update_afs_comment' %}">
</div>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="text" class="form-control" placeholder="Search by client name" name="search">
            <button type="submit" class="mt-2 btn btn-outline-primary">Search</button>
        </form>
    {% if client_financial_years %}
        <h6 class="mt-4">{{count}} Clients found</h6>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td></td>
                    <td><strong>Summary</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ metrics.wp_done }} of {{ count }}</td>
                    <td>{{ metrics.afs_done }} of {{ count }}</td>
                    <td>{{ metrics.posting_done }} of {{ count }}</td>
                    <td>{{ metrics.itr34c_issued }} of {{ count }}</td>
                    <td colspan="2"></td>
                </tr>
            {% for entry in client_financial_years %}
            <tr>

                    <td>
                        <input type="checkbox" name="mark-complete" class="mark-complete" data-client-id="{{ entry.id }}" data-client-name="{{entry.client.name}}" {% if entry.wp_done and entry.afs_done and entry.posting_done and entry.itr34c_issued %} checked {% endif %} {% if not perms.client.change_clientfinancialyear %} disabled {% endif %}>
                    </td>
                    
                    <td><a href="{% url 'client-detail' entry.client.id %}" class="text-decoration-none">{{entry.client.get_client_full_name}}</a>
                    </td>
                    
                    <td>{{ entry.financial_year }}</td>
                    
                    <td><input type="date" name="schedule_date" value="{{ entry.schedule_date|date:'Y-m-d' }}" data-client-id="{{entry.id}}" data-client-name="{{entry.client.name}}" class="form-control date-control" {% if not perms.client.change_clientfinancialyear %} disabled {% endif %}></td>
                    
                    <td><input class="form-control finish-date-control" type="date" name="finish_date" data-client-id="{{entry.id}}" data-client-name="{{entry.client.name}}" value="{{ entry.finish_date|date:'Y-m-d' }}" {% if not perms.client.change_clientfinancialyear %} disabled {% endif %}></td>                        
                    
                    <!-- Handle checkboxes -->
                    <td>
                        <input class="update-field" data-client-id="{{entry.id}}" data-client-name="{{entry.client.name}}" type="checkbox" name="wp_done" data-field="wp_done" {% if entry.wp_done %} checked {% endif %} {% if not perms.client.change_clientfinancialyear %} disabled {% endif %}>
                    </td>
                    
                    <td>
                        <input class="update-field" type="checkbox" name="afs_done" data-client-id="{{entry.id}}" data-field="afs_done" data-client-name="{{entry.client.name}}"{% if entry.afs_done %} checked {% endif %} {% if not perms.client.change_clientfinancialyear %} disabled {% endif %}>
                    </td>

                    <td>
                        <input type="checkbox" name="posting_done" class="update-field" data-client-id="{{entry.id}}" data-field="posting_done" data-client-name="{{entry.client.name}}"{% if entry.posting_done %} checked {% endif %} {% if not perms.client.change_clientfinancialyear %} disabled {% endif %}>
                    </td>

                    <td>
                        <input type="checkbox" name="itr34c_issued" class="update-field" data-client-id="{{entry.id}}" data-field="itr34c_issued" data-client-name="{{entry.client.name}}"{% if entry.itr34c_issued %} checked {% endif %} {% if not perms.client.change_clientfinancialyear %} disabled {% endif %}>
                    </td>
                    
                    <td>
                        <textarea name="comment" class="form-control update-comment" data-client-id="{{ entry.id }}" data-client-name="{{ entry.client.name }}" rows="2" {% if not perms.client.change_clientfinancialyear %} disabled {% endif %}>{{ entry.comment|default_if_none:'' }}</textarea>
                        <button type="button" class="btn btn-outline-primary update-comment-button mt-2" data-client-id="{{ entry.id }}" data-client-name="{{ entry.client.name }}" {% if not perms.client.change_clientfinancialyear %} disabled {% endif %}>Save</button>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No clients found for the selected filters.</p>
{% endif %}

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/afs.js' %}"></script>
{% endblock extra_js %}


