{% extends 'base.html' %}

{% block content %}
   {% if user.is_authenticated %}
   
   <form method="get" class="row mt-4">
      <div class="col-md-10">
         <input class="form-control" type="text" name="q" value="{{ query }}" placeholder="Search clients...">
      </div>
      <div class="col md-2">
         <button class="btn btn-outline-primary w-100" type="submit">Search</button>
      </div>
   </form>
   
   <h6 class="h6 mt-4">{{ filter_type }} - {{ client_type }} - {{count}} found</h6>
       <!-- <a href="?{% for key, value in request.GET.items %}{{ key }}={{ value }}&{% endfor %}export=csv"
        class="btn btn-success btn-sm mt-3 mb-2">Export to CSV</a> -->
   <table class="table table-striped table-hover table-bordered">
      <thead>
         <tr>
            <th>Name</th>
            <th>Registration Number</th>
         </tr>
      </thead>
      <tbody>
         {% for client in clients %}
         <tr>
            <td><a href="{% url 'client-detail' client.id %}" class="text-decoration-none">{{ client.get_client_full_name }}</a></td>
            <td>{{ client.entity_reg_number }}</td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
   {% endif %}
{% endblock %}
