{% extends 'base.html' %}

{% block content %} 
{% if user.is_authenticated %}
   <h2 class="h2 mt-4 text-center">Dashboard</h2>

   <table class="table table-striped table-hover table-bordered">
      <thead>
         <tr>
            <th>Description</th>
            {% for data in data_list %}
               <th>{{ data.name }}</th>
            {% endfor %}
            <th>Total</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>All Clients</td>
            {% for data in data_list %}
            <td>
               {% if data.count_all > 0 %}
                  <a class="text-decoration-none" href="{% url 'dashboard_list' 'all_clients' data.name %}">
               {% endif %}
                  {{data.count_all}}
            </a>
         </td>
         {% endfor %}
            <td> {{ total_all }}</td>
         </tr>
         <tr>
            <td>VAT Vendors</td>
            {% for data in data_list %}
            <td>
               {% if data.vendor_count > 0 %}
               <a class="text-decoration-none" href="{% url 'dashboard_list' 'vat_vendors' data.name %}">
                  {% endif %}
                     {{data.vendor_count}}
               </a>
            </td>
            {% endfor %}
            <td>{{ total_vendors }}</td>
         </tr>
         <tr>
            <td>VAT Vendors with returns due this month</td>
            {% for data in data_list %}
               <td>
                  {% if data.curr_vendor_count > 0 %}
                        <a class="text-decoration-none" href="{% url 'dashboard_list' 'current_vat_vendors' data.name %}">
                  {% endif %}
                           {{ data.curr_vendor_count }}
                        </a>
               </td>
            {% endfor %}
            <td>{{ total_curr_vendors }}</td>
         </tr>
         <tr>
            <td>Active CIPC Clients</td>
            {% for data in data_list %}
               <td>
                  {% if data.cipc_count > 0 %}
                     <a class="text-decoration-none" href="{% url 'dashboard_list' 'cipc_clients' data.name %}">
                  {% endif %}
                     {{ data.cipc_count }}
                     </a>
               </td>
            {% endfor %}
            <td>{{ total_cipc }}</td>
         </tr>
         <tr>
            <td>No. of CIPC Returns this month</td>
            {% for data in data_list %}
               <td>
                     {% if data.curr_cipc_count > 0 %}
                        <a class="text-decoration-none" href="{% url 'dashboard_list' 'current_cipc_clients' data.name %}">
                     {% endif %}
                  {{ data.curr_cipc_count }}
                        </a>
               </td>
            {% endfor %}
            <td>{{ total_curr_cipc }}</td>
         </tr>
         <tr>
            <td>All AFS Clients</td>
               {% for data in data_list %}
                  <td>
                     {% if data.afs_count > 0 %}
                        <a class="text-decoration-none" href="{% url 'dashboard_list' 'afs_clients' data.name %}">
                     {% endif %}
                     {{ data.afs_count }}
                        </a>
                  </td>
               {% endfor %}
            <td>{{ total_afs }}</td>
         </tr>
         <tr>
            <td>Clients with AFSs Due</td>
            {% for data in data_list %}
               <td>
                  {% if data.curr_afs_count > 0 %}
                     <a class="text-decoration-none" href="{% url 'dashboard_list' 'current_afs_clients' data.name %}">
                  {% endif %}
                  {{ data.curr_afs_count }}
                     </a>
               </td>
            {% endfor %}
            <td>{{ total_curr_afs }}</td>
         </tr>

         <tr>
            <td>All Provisional Tax Clients</td>
            {% for data in data_list %}
               <td>
                  {% if data.prov_count > 0 %}
                     <a class="text-decoration-none" href="{% url 'dashboard_list' 'prov_tax_clients' data.name %}">
                  {% endif %}
                  {{ data.prov_count }}
                     </a>
               </td>
            {% endfor %}
            <td>{{ total_provs }}</td>
         </tr>
         <tr>
            <td>Current Month Provisional Tax Clients</td>
            {% for data in data_list %}
               <td>
                  {% if data.curr_prov_count > 0 %}
                     <a class="text-decoration-none" href="{% url 'dashboard_list' 'curr_prov_tax_clients' data.name %}">
                  {% endif %}
                  {{ data.curr_prov_count }}
               </a>
               </td>
            {% endfor %}
            <td>{{ total_curr_provs }}</td>
         </tr>
      </tbody>
   </table>
{% endif %}
{% endblock %}
