{% extends 'base.html' %}

{% block title %} Filtered Financials {% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
    <form class="mt-4 ">
        {% csrf_token %}
        {{form.as_p}}
            {% if data %}
                <div class="mb-4 mt-4">
                    <label for="q" class="form-label">Search Clients</label>
                    <input type="text" name="q" id="q" value="{{ request.GET.q }}" class="form-control" placeholder="Search by client name" />
                </div>
            {% endif %}
            <button type="submit" class="btn btn-outline-primary">Get Clients</button>
    </form>

      {% if financials %}
        <h6 class="h6 mt-4">{{count}} Financials of {{total}} found</h6>
        <table class="table table-striped table-hover table-bordered">
            {% include "client/_table_headers.html" with headers=headers %}
            <tbody>
                {% for record in financials %}
                    <tr>
                        <td><a href="{% url 'client-detail' record.client.id %}" class="text-decoration-none">{{record.client.name}}</a></td>
                        <td>{{record.financial_year}}</td>
                        <td>{{record.schedule_date}}</td>
                        <td>{{record.finish_date}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      {% else %}
      {% if data %}
      <h6 class="h6 mt-4">No Financials</h6>
      {% else %}
        <h6 class="h6 mt-4">Select options above</h6>
      {% endif %}
      {% endif %}
    {% endif %}
{% endblock %}
