
{% extends 'base.html' %}
{% block title %}Filtered Clients{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container mt-5">
    <!-- Render the filter form again -->
    <form method="get" class="row align-items-end g-3 mb-4">
        <div class="col-md-6">
            <label for="id_field" class="form-label">{{ form.field.label }}</label>
            {{ form.field }}
        </div>
        <div class="col-md-6">
            <label for="id_null_filter" class="form-label">{{ form.null_filter.label }}</label>
            {{ form.null_filter }}
        </div>
        <div class="col-md-6">

        </div>
    </form>
    
    <!-- Search Form -->
    <form method="get" class="row g-3 mb-4">
        <div class="col-md-10">
            <input type="text" class="form-control" name="searchterm"
                   placeholder="Search by Name, tax number, VAT number, PAYE number, UIF Reg number or internal ID number"
                   value="{{ request.GET.searchterm }}">
            <input type="hidden" name="field" value="{{ request.GET.field }}">
            <input type="hidden" name="null_filter" value="{{ request.GET.null_filter }}">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-outline-secondary w-100"> <i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </div>
    </form>

    <h6 class="h6 mt-2">
        Clients {{ with_without }} {{ statutory_type }} – {{ count }} of {{ total }}
    </h6>

    <table class="table table-striped table-hover table-bordered">
        {% include "client/_table_headers.html" with headers=headers %}
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{% url 'client-detail' client.id %}" class="text-decoration-none">{{ client.name }}</a></td>
                <td>{{ client.internal_id_number }}</td>
                <td>{{ client.entity_reg_number }}</td>
                <td>{{ client.client_type.name }}</td>
                <td>{{ client.month_end }}</td>
                <td>{{ client.vat_reg_number }}</td>
                <td>{{ client.accountant.first_name }} {{ client.accountant.last_name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
