{% extends 'base.html' %}

{% block title %} Filtered Financials {% endblock title %}

{% block content %}
    {% if user.is_authenticated %}

      {% if financials %}
        <h3 class="h3">{{count}} Financials of {{total}} found</h3>
        <table class="table table-striped table-hover">
            {% include "client/_table_headers.html" with headers=headers %}
            <tbody>
                {% for record in financials %}
                    <tr>
                        <td><a href="{% url 'client-detail' record.client.id %}" class="text-decoration-none">{{record.client.name}}</a></td>
                        <td>{{record.financial_year}}</td>
                        <td>{{record.schedule_date}}</td>
                        <td>{{record.finish_date}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      {% else %}
      <h3 class="h3">No Financials</h3>
      {% endif %}
    {% endif %}
{% endblock %}
