{% extends 'base.html' %}

{% block title %} Finished Financials for a month {% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
    <form method="GET" class="mt-4 mb-4">
        {{form.as_p}}
        {% if month %}
        <div class="mb-4 mt-4">
            <label for="q" class="form-label">Search Clients</label>
            <input type="text" name="q" id="q" value="{{ request.GET.q }}" class="form-control" placeholder="Search by client name" />
        </div>
    {% endif %}
        <button type="submit" class="btn btn-outline-primary">Get Finished Clients</button>
    </form>

      {% if finished_afs %}
        <h3 class="h3">We found {{count}} finished financials for month {{month}}</h3>
        <table class="table table-striped table-hover table-bordered">
            {% include "client/_table_headers.html" with headers=headers %}
            <tbody>
                {% for record in finished_afs %}
                    <tr>
                        <td><a href="{% url 'client-detail' record.client.id %}" class="text-decoration-none">{{record.client.name}}</a></td>
                        <td>{{record.financial_year}}</td>
                        <td>{{record.schedule_date}}</td>
                        <td>{{record.finish_date}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      {% else %}
        {% if month %}
            <p class="p2">No records found for this month.</p>
        {% else %}
            <p class="p2">Please select a month above</p>
        {% endif %}

      {% endif %}
    {% endif %}
{% endblock %}
