{% extends 'base.html' %}
{% load static %}
{% block title %} Scheduled Clients{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <h6 class="h6 mt-4">Check Scheduled Financial Statements Status</h6>     
            {% include "client/_form.html" with form=form %}
            {% if data %}
        <h6 class="h6 mt-4" id="filtered-row-count">Total found: {{count}}</h6>
    <table class="table table-striped table-hover table-bordered">
    {% include "client/_table_headers.html" with headers=headers %}
    <thead>
        <tr>
            <td>
                <!-- <input type="text" id="filter-name" class="form-control form-control-sm" placeholder="Search name"> -->
            </td>
            <td>
                <select id="filter-year" class="form-select form-select-sm">
                    <option value="all">All</option>
                    {% for year in unique_years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </td>
            <td></td> <!-- Schedule Date -->
            <td>
                <select id="filter-afs" class="form-select form-select-sm">
                    <option value="all">All</option>
                    <option value="completed">Completed</option>
                    <option value="incomplete">Incomplete</option>
                </select>
            </td>
            <td>
                <select id="filter-itr14" class="form-select form-select-sm">
                    <option value="all">All</option>
                    <option value="completed">Completed</option>
                    <option value="incomplete">Incomplete</option>
                </select>
            </td>
            <td>
                <select id="filter-invoice" class="form-select form-select-sm">
                    <option value="all">All</option>
                    <option value="invoiced">Invoiced</option>
                    <option value="pending">Pending</option>
                </select>
            </td>
        </tr>
    </thead>
    <tbody>
    <tr class="summary-row">
        <td></td>
        <td></td>
        <td></td>
        <td>{{ afs_complete }} completed</td>
        <td>{{ itr14_complete }} completed</td>
        <td>{{ invoiced }} invoiced</td>
    </tr>
        {% for record in scheduled %}
            <tr>
                <td><a href="{% url 'client-detail' record.client.id %}" class="text-decoration-none">{{ record.client.name }}</a></td>
                <td>{{ record.financial_year }}</td>
                <td>{{ record.schedule_date }}</td>
                <td> <button {% if record.finish_date %} class="btn btn-success" {% else %}class="btn btn-warning" {% endif %}>{% if record.finish_date %} Completed {% else %}Incomplete {% endif %}</button></td>
                <td> <button {% if record.itr14_date %} class="btn btn-success" {% else %}class="btn btn-warning" {% endif %}>{% if record.itr14_date %} Completed {% else %}Incomplete {% endif %}</button></td>
                <td> <button {% if record.invoice_date %} class="btn btn-success" {% else %}class="btn btn-warning" {% endif %}>{% if record.invoice_date %} Invoiced {% else %}Pending {% endif %}</button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
            {% endif %}
    {% endif %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/scheduled.js' %}"></script>
<script src="{% static 'js/searchClient.js' %}"></script>
{% endblock extra_js %}