{% extends 'base.html' %}

{% block title %}Search Clients{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h2>Search Clients</h2>

    <form method="GET">
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary">Search</button>
    </form>
    
        {% if clients %}
            <h3>{{count}} Results:</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Income Tax No.</th>
                        <th>PAYE Reg No.</th>
                        <th>UIF Reg No.</th>
                        <th>CIPC Reg No.</th>
                        <th>VAT Reg No.</th>
                        <th>Internal ID No.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                        <tr>
                            <td><a href="{% url 'client-detail' client.id %}" class="text-decoration-none">{{client.name}}</a></td>
                            <!-- <td>{{ client.name }}</td> -->
                            <td>{{ client.surname }}</td>
                            <td>{{ client.income_tax_number }}</td>
                            <td>{{ client.paye_reg_number }}</td>
                            <td>{{ client.uif_reg_number }}</td>
                            <td>{{ client.entity_reg_number }}</td>
                            <td>{{ client.vat_reg_number }}</td>
                            <td>{{ client.internal_id_number }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No clients found.</p>
        {% endif %}
    {% endif %}
{% endblock %}
