{% extends 'base.html' %}

{% block title %} Unfinished Financials {% endblock title %}

{% block content %}
{% if user.is_authenticated %}
    <form method="GET" class="mt-4 mb-4">
        {{ form.as_p }}
        {% if data %}
            <div class="mb-4 mt-4">
                <label for="q" class="form-label">Search Clients</label>
                <input type="text" name="q" id="q" value="{{ request.GET.q }}" class="form-control" placeholder="Search by client name" />
            </div>
        {%endif %}
        <button type="submit" class="btn btn-outline-primary">Get Unfinished Clients</button>
    </form>

    {% if data %}
        <h6 class="h6">{{ count }} of {{ counter }} Unfinished AFSs</h6>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Client Name</th>
                    <th>AFS for {{ year }}</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in client_data %}
                    <tr>                  
                        <td><a href="{% url 'client-detail' entry.client.id %}" class="text-decoration-none">{{ entry.client.name }}</a></td>

                        <td>{{ entry.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="p2">Please select the options above</p>
    {% endif %}
{% endif %}
{% endblock %}
