{% extends 'base.html' %}

{% block title %}VAT Clients{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h2>VAT Clients</h2>

    {% if vat_clients %}
        <h3>{{count}} VAT Submission History</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for client in vat_clients %}
                    <tr>
                        <form method="post" action="{% url 'update_vat_client_status' %}">
                            {% csrf_token %}
                            <input type="hidden" name="client_id" value="{{ client.id }}">
                            <td><a href="{% url 'client-detail' client.client.id %}" class="text-decoration-none">{{client.client.name}}</a></td>
                            <!-- <td>{{ client.client.name }}</td> -->
                            <td>{{ client.month }} {{ client.year }}</td>

                            <td>
                                <input type="hidden" name="submitted" value="false">
                                <input type="checkbox" name="submitted" value="true" {% if client.submitted %} checked {% endif %}>
                            </td>
                            <td>
                                <input type="hidden" name="client_notified" value="false">
                                <input type="checkbox" name="client_notified" value="true" {% if client.client_notified %} checked {% endif %}>
                            </td>
                            <td>
                                <input type="hidden" name="paid" value="false">
                                <input type="checkbox" name="paid" value="true" {% if client.paid %} checked {% endif %}>
                            </td>

                            <td>
                                <textarea name="comment" class="form-control" rows="2">{% if client.comment %}{{ client.comment }} {% endif %}</textarea>
                            </td>

                            <td>
                                <button type="submit" class="btn btn-secondary">Update</button>
                            </td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No clients found for the selected filters.</p>
    {% endif %}
 {% endif %}
{% endblock %}
