{% extends 'base.html' %}
{% load static %}
{% block title %}VAT Clients{% endblock %}

{% block content %}
<meta name="csrf-token" content="{{ csrf_token }}">

<div id="ajax-urls"
     data-update-status-url="{% url 'ajax_update_vat_status' %}"
     data-update-comment-url="{% url 'ajax_update_comment' %}">
</div>
{% if user.is_authenticated %}
    <h6 class="h6 mt-4">VAT Clients</h6>

    {% if clients %}
        
        <form method="get">
              {% csrf_token %}
         <div class="row g-3 mt-2">
                <div class="col-md-4 mt-2">
                    {{form.client.label_tag}}
                    {{form.client}}
                </div>
                <div class="col-md-4 mt-2">
                    {{form.year.label_tag}}
                    {{form.year}}
                </div>
                <div class="col-md-4 mt-2">
                    {{form.month.label_tag}}
                    {{form.month}}
                </div>
            </div>
            <div class="row g-3 mt-2">
                <div class="col-md-4 mt-2">
                    {{form.accountant.label_tag}}
                    {{form.accountant}}
                </div>
                <div class="col-md-4 mt-2">
                    
                    {{form.radio_option}}
                </div>
            </div>
            <div class="row g-3 mt-2">
                <div class="col-md-6 mt-2">
                    <input type="text" class="form-control" placeholder="Search by client name" name="search">
                </div>
                <div class="col-md-6 mt-2">
                    <button type="submit" class="btn btn-outline-primary w-100">Search</button>
                </div>
            </div>
        </form>

        <h6 class="mt-4 h6" id="filtered-row-count">{{ count }} VAT Submission History</h6>
        <table class="mt-2 table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- Summary Row -->
                <tr>
                    <td></td>
                    <td><strong>Summary</strong></td>
                    <td></td>
                    <td class="submit-label">{{ metrics.submitted }} of {{ count }}</td>
                    <td class="client-notified-label">{{ metrics.client_notified }} of {{ count }}</td>
                    <td class="paid-label">{{ metrics.paid }} of {{ count }}</td>
                    <td colspan="2"></td>
                </tr>

                <!-- Client Rows -->
                {% for client in clients %}
                    <tr class="data-row">
                        <td><input type="checkbox" class="mark-complete" data-client-id="{{ client.id }}" data-client-name="{{client.client.name}}" {% if client.submitted and client.client_notified and client.paid %} checked {% endif %} {% if not perms.client.change_vatsubmissionhistory %} disabled {% endif %}></td>
                        <td><a href="{% url 'client-detail' client.client.id %}" class="text-decoration-none">{{ client.client.name }}</a></td>
                        <td>{{ client.month }} {{ client.year }}</td>

                        <td>
                            <input type="checkbox" class="update-field" data-field="submitted" data-client-id="{{ client.id }}" data-client-name="{{client.client.name}}" {% if client.submitted %}checked{% endif %} {% if not perms.client.change_vatsubmissionhistory %} disabled {% endif %}>
                        </td>
                        <td>
                            <input type="checkbox" class="update-field" data-field="client_notified" data-client-id="{{ client.id }}" data-client-name="{{client.client.name}}"{% if client.client_notified %}checked{% endif %} {% if not perms.client.change_vatsubmissionhistory %} disabled {% endif %}>
                        </td>
                        <td>
                            <input type="checkbox" class="update-field" data-field="paid" data-client-id="{{ client.id }}" data-client-name="{{client.client.name}}" {% if client.paid %}checked{% endif %} {% if not perms.client.change_vatsubmissionhistory %} disabled {% endif %}>
                        </td>

                        <td>
                            <textarea class="form-control update-comment" data-client-id="{{ client.id }}" data-client-name="{{ client.client.name }}" rows="2">{{ client.comment|default_if_none:'' }}</textarea>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary update-comment-button" data-client-id="{{ client.id }}" {% if not perms.client.change_vatsubmissionhistory %} disabled {% endif %}>Save Comment</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No clients found for the selected filters.</p>
    {% endif %}
{% endif %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/vat_update.js' %}"></script>
{% endblock extra_js %}